# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.melos_workspace/
.flutter-*

# iOS/Xcode related
ios/Flutter/Generated.xcconfig
ios/.symlinks/
ios/Pods/
ios/Podfile.lock
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcodeproj/xcuserdata/

# Android/Gradle related
android/.gradle/
android/captures/
android/local.properties
android/app/build/
android/key.properties

# VS Code settings
.vscode/
.idea/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# MacOS related
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Pods/
macos/Podfile.lock
macos/build/
macos/.symlinks/
macos/Runner.xcworkspace/
macos/Flutter/ephemeral/

# Web related
web/.dart_tool/
web/build/
web/generated_plugin_registrant.dart

# Windows related
windows/Flutter/ephemeral/
windows/build/
windows/Runner.sln
windows/Runner.vcxproj*
windows/GeneratedPluginRegistrant.*
windows/.vs/
windows/.idea/

# Linux related
linux/Flutter/ephemeral/
linux/build/
linux/CMakeFiles/
linux/Makefile
linux/cmake_install.cmake
linux/compile_commands.json
linux/Flutter/generated_plugins.cmake

# Coverage
coverage/
*.lcov

# Others
*.log
*.lock
*.tmp
*.swp
.DS_Store
.env
*.bak
*.old
